


/* OGÓLNE */


/* Resetowanie domyślnych styli */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Podstawowe style dla strony */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
  background-color: #fff;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

#content {
  text-align: center;
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  clear: both;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



/* ~~~~~~~~~~~~~~ */


/* filmy.html  */


.film {
  display: inline-block;
  width: 250px;
  height: 360px;
  margin: 10px;
  vertical-align: top;
  text-align: left;
}

.film img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .film {
    width: calc(50% - 20px); /* Na mniejszych ekranach zmień na dwie kolumny (50%) */
  }
}

@media (max-width: 480px) {
  .film {
    width: 100%; /* Na najmniejszych ekranach zmień na pełną szerokość */
  }
}

.film h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.film p {
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Ustaw ilość wierszy, po których opis filmu się zawinie */
  -webkit-box-orient: vertical;
}

/* ~~~~~~~~~~~~~~ */




/* repertuar.html */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f9f9f9;
}

td a {
  color: #337ab7;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* ~~~~~~~~~~~~~~ */




/* index.html */

/* Styl dla sekcji "O nas" */
#about {
  background-color: #f2f2f2;
  padding: 20px;
}

#about h2 {
  color: #333;
}

#about p {
  color: #666;
}

/* Styl dla sekcji "Lokalizacja" */
#location {
  background-color: #eaeaea;
  padding: 20px;
}

#location h2 {
  color: #333;
}

#location p {
  color: #666;
}

/* Styl dla sekcji "Godziny otwarcia" */
#opening-hours {
  background-color: #f9f9f9;
  padding: 20px;
}

#opening-hours h2 {
  color: #333;
}

#opening-hours p {
  color: #666;
}

#opening-hours ul {
  list-style-type: disc;
  margin-left: 20px;
}

#opening-hours li {
  color: #666;
}

/* ~~~~~~~~~~~~~~ */


/* bilety.html */
#content {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#content h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

#content form {
  margin-top: 20px;
}

#content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#content input[type="text"],
#content select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

#content button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#content button[type="submit"]:hover {
  background-color: #45a049;
}

.seat-row {
  display: flex;
  margin-bottom: 10px;
}

.seat {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.seat.selected {
  background-color: #57aaff;
}

.seat.booked {
  background-color: #ff0000;
  cursor: not-allowed;
}

/* ~~~~~~~~~~~~~~ */

