/* Ustawienia ogólne dla całej strony */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Nagłówek strony */
header {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

/* Tytuł pierwszego poziomu */
h1 {
margin: 0;
font-size: 36px;
}

/* Kontener, który ogranicza szerokość strony */
.container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

/* Tytuł drugiego poziomu */
h2 {
font-size: 24px;
margin-top: 40px;
}

/* Nawigacja */
nav {
display: inline-block;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline-block;
position: relative;
}

nav ul li a {
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
}

nav ul li ul {
display: none;
position: absolute;
top: 100%;
left: 0;
width: 200px;
}

nav ul li:hover > ul {
display: block;
}

nav ul li ul li {
display: block;
background-color: #333;
}

nav ul li ul li a {
color: #fff;
padding: 10px;
display: block;
}

nav ul li ul li a:hover {
background-color: #444;
}
