{
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

header {
background-color: #003366;
padding: 1px;
text-align: center;
font: 35px/1 Arial, Helvetica, sans-serif;
color: white;
position: relative;
}

header img {
  position: absolute;
  top: 0;
  right: 0;
}

section {
display: flex;
min-height: 75vh;
}

#nav1 {
flex: 1;
background: #ccc;
padding: 20px;
}

#nav2{
list-style: none;
padding: 0;
}

#li1 a:hover{
font: bold;
color: gray;
}

#ul1 a {
  text-decoration: none;
  font-weight: bold;
  color: #003366;
}

nav ul {
list-style: none;
padding: 0;
}

nav li a {
text-decoration: none;
color: #333;
font: bold 20px/1 Arial, Helvetica, sans-serif;
}

nav li a:hover {
color: white;
}


article {
flex: 3;
background-color: #f1f1f1;
padding: 50px;
font: 20px/1.5 Arial, Helvetica, sans-serif;
}

footer {
background-color: #003366;
padding: 25px;
text-align: center;
color: white;
font-size: 18px;
}

.popup {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 300px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.scrolling-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 70px;
}

.scrolling-list li {
  margin: 12px 0;
}
